
<div class="container">
	<hr />
	<p>
		<img src="/og_image.jpg" width="300" alt="Pofat 講 code podcast logo"/>
	</p>

	<h1>Pofat 講 code podcast</h1>

	<p> 以母語探索資訊科技的世界，Pofat 講 code ( Pofat kóng code）是一個以台語為主，夾雜部分英語的 podcast，內容專注在兩大方向：聊生活裡的科技原理與探討軟體工程裡的技術層面，節目也因此分成兩個系列。<br><b>「生活中的 code」</b>：探討生活中可見的科技其原理與實現方式，主要會以 iPhone 或與其相關的硬體做為探討對象。<br><b>「軟體工程變啥魍」</b>：則會比較深入地探討軟體工程的技術，內容主要會以 Apple 相關的技術為主題出發。<br>對台語、科技與軟體技術有喜好的朋友歡迎一起來交流討論，或將問題丟過來<a href="https://twitter.com/pofat_kongcode/status/1339604357763887104">發起挑戰賽</a>！！</p>

	<p><a href="/">回首頁</a>・主持人<a href="https://twitter.com/@PofatTseng">波肥</a></p>

<h2>線上收聽</h2>

可使用 <a href="https://overcast.fm/itunes1545383775/pofat-code">Overcast</a>、<a href="https://www.listennotes.com/podcasts/pofat-講-code-pofat-A8cJHhVfxlg/">Listen Notes</a>、<a href="https://podcast.kkbox.com/channel/LarV8K8O4jH_rwFbTk">KKBOX</a>。

<h2>訂閱方式</h2>

<p><b>Pofat 講 code</b> 支援任何 podcast 播放軟體，只要訂閱我們的 <a href="https://api.soundon.fm/v2/podcasts/832a4f37-a4c4-410f-883e-e73113ee0527/feed.xml">RSS</a> 網址即可。</p>

<p>
	<a href="https://podcasts.apple.com/tw/podcast/pofat-講-code/id1545383775"><img src="/apple_podcasts.png" width="150" alt="Listen on Apple Podcasts"></a> <a href="https://overcast.fm/itunes1545383775/pofat-code"><img src="/overcast.png" width="150" alt="Listen on Overcast"></a> <a href="https://pca.st/7oexx0fb"><img src="/pocket_casts.png" width="150" alt="Listen on Pocket Casts"></a> <a href="https://open.spotify.com/show/3sLlQ699L5hMbkYJdkowjx"><img src="/spotify.png" width="150" alt="Listen on Spotify"></a> <a href="https://castro.fm/itunes/1545383775"><img src="/castro.png" width="150" alt="Listen in Castro"></a>
</p>

</div>

{%- if site.texture.analytics_id -%}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.texture.analytics_id }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', '{{ site.texture.analytics_id }}');
</script>
{%- endif -%}

{%- if site.texture.showPicker -%}
<div id="texture-picker">
	<div style="display:flex;justify-content: space-between">
		<p>Select Texture</p>
		<p><a id="hidePicker" href="#">Hide</a></p>
	</div>
	<div class="texture-colors">
		<div id="black"></div>
		<div id="blue"></div>	
		<div id="red"></div>	
		<div id="purple"></div>		
		<div id="green"></div>
	</div>
	<p class="info">You can use the <b>showPicker</b> property in _config.yml to hide this picker permanently.</p>
	<p class="info">You can use the <b>texture</b> property in _config.yml to apply a texture permanently.</p>
</div>
<script src="{{ "/assets/js/picker.js" | relative_url }}"></script>
{%- endif -%}